<div class="row filterArea">
  <div class="col-xs-6">
    <select name="sort" id="sorting_select" class="select-drop">
      <option value="">並び替え</option>
      <option value="newest">新着順</option>
      <option value="price_low">価格の安い順</option>
      <option value="price_high">価格の高い順</option>
      <option value="oldest">古い順</option>
    </select>
  </div>
  <div class="col-xs-6">
    <div class="btn-group pull-right" role="group">
      <%= link_to url_for(params.permit(*filter_params).merge(view: 'grid')), class: @category_view == "list" ? "btn btn-default" : "btn btn-default active" do %>
        <i class="fa fa-th" aria-hidden="true"></i><span>Grid</span>
      <% end %>
      <%= link_to url_for(params.permit(*filter_params).merge(view: 'list')), class: @category_view == "list" ? "btn btn-default active" : "btn btn-default" do %>
        <i class="fa fa-th-list" aria-hidden="true"></i><span>List</span>
      <% end %>
    </div>
  </div>
</div>
