<!-- LIGHT SECTION -->
<section class="lightSection clearfix pageHeader">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="page-title">
          <h2>
            <%= title_or_breadcrumbs %>
          </h2>
        </div>
      </div>
      <div class="col-xs-6">
        <ol class="breadcrumb pull-right">
          <li><%= link_to 'Home', potepan_path %></li>
          <li><%= link_to 'Categories', potepan_category_path(Spree::Taxon.first.id) %></li>
          <li class="active"><%= title_or_breadcrumbs %></li>
        </ol>
      </div>
    </div>
  </div>
</section>
