<div class="container">
  <div class="tableBlock">
    <div class="row tableInner">
      <div class="col-xs-12">
        <div class="page-title">
          <h2><%= name %></h2>
          <ol class="breadcrumb">
            <li>
              <%= link_to 'Home', potepan_path %>
            </li>
            <li class="active"><%= name %></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
